.table {

  thead {
    border-bottom: 3px solid #ccc;

    tr {

      th {
        vertical-align: middle;
        text-align: center;

        input {
          float: left;
          width: 50%;
          min-width: 200px;
        }
      }

      &:nth-of-type(2) {

        th {

          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }

          span {
            display: none;
          }

          &.active {
            span {
              display: inline-block;
            }
          }
        }
      }
    }
  }

  tbody {
    .user_data {

      .user-details {
        display: none;

        &.visible {
          display: block;
        }

        img {
          max-width: 100px;
        }
      }
    }
  }

  tfoot {
    border-top: 2px solid #ccc;
  }
}
