.table {

  thead {
    td {
      vertical-align: middle;
      text-align: center;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }

      span {
        display: none;
      }

      &.active {
        span {
          display: inline-block;
        }
      }
    }
  }

  .user_data {

    .user-details {
      display: none;

      &.visible {
        display: block;
      }

      img {
        max-width: 100px;
      }
    }
  }
}
